<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'form_style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
    <title>{% block title %}   {%endblock %}</title>
</head>
<body>
  <nav class="navbar">
    <div class="navbar-container">
      <a href="#" class="logo">МойСайт</a>
      <ul class="nav-links">
        <li><a href="{% url 'app:all_class' %}">Главная</a></li>
        <li><a href="{% url 'app:create' %}">Создать пост</a></li>
        <li><a href="{% url 'app:archive' %}">Архив</a></li>
        <li><a href="{% url 'app:contact' %}">Контакты</a></li>
      </ul>
    </div>
  </nav>

{% block content %}


{% endblock %}

  <footer class="footer">
    <div class="footer-container">
      <p>&copy; 2025 МойСайт. Все права защищены.</p>
      <div class="socials">
        <a href="#">VK</a>
        <a href="#">Telegram</a>
        <a href="#">Instagram</a>
      </div>
    </div>
  </footer>
</body>
</html>